*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', Times, serif;
  background: #fff;
  color: rgb(3, 3, 18);
}
h1
{
  letter-spacing: 7px;
  text-transform: uppercase;
  line-height: 10px;
  margin-bottom: 25px;
}
h1 {
  font-size: 2rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  body {
    font-size: 1rem;
  }
  h1
{
    line-height: 1;
  }
}
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 900px) {
  .section-center {
    width: 740px;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

header {
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
h1 {
  color: #fff;
}
/* switch button */

.switch-btn {
  position: absolute;
  bottom: 50px;
  left: 80px;
  width: 160px;
  height: 40px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  border: none;
  transition: all 0.4s linear;
}
.switch-btn span {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(12, 81, 113);
}
.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(5, 64, 84);
  border-radius: 9px;
  margin: 0;
  display: block;
  transition: all 0.4s linear;

}
.slide .switch {
  left: 50%;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}